<nav>
    <ul>
        <li><a href="/">Customers</a></li>
        <li><a href="/price-list">Price List</a></li>
        <li><a href="/invoices">Invoices</a></li>
        <li><a href="/invoice-details">Invoice Details</a></li>
    </ul>
</nav>

<%- body %>